@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
* {
  color: aliceblue;
  font-family: var(--font);
  margin: auto;
}
body {
  background-color: black;
}
:root {
  --font: "Kanit", sans-serif;
}
