*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background: var(--clr-gray100);
}

.nav-list {
    background: #212121;
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    font-size: 2em;
    text-decoration: none;
    transition: 250ms ease-in-out;
    margin-left: 2rem;
}

.nav-item a:hover {
    color:blue;
}

.nav-item:first-child {
    margin:0px
}