#transaction {
    width: 64em;
    height: 20em;
    border: solid white 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    display:grid;
}
#transaction p {
    justify-self: center;
    margin:auto;
    font-family: var(--font);
    font-size: 2em;
}

#transaction_address {
    color:rgb(0, 66, 165)
}